@import '@/styles/constants/colors.module';
@import '@/styles/mixins/textStyle';

.separator {
  border: 0.5px solid rgba($White, 20%);
}

.cursorPointer {
  cursor: pointer;
}

.positive {
  color: $Secondary70 !important;
}

.negative {
  color: $Primary30 !important;
}
